.border-r {
    border-right: .05rem solid var(--md-typeset-table-color);
}

.valign-center {
    vertical-align: middle;
}

.md-typeset img {
   border-radius: 6px;
   box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
   border: 2px solid #ddd;
}

.md-typeset .admonition,
.md-typeset details {
  font-size: 0.8rem; /* adjust as needed */
}
