name: Check Markdown links

on:
  push:
    paths:
      - "**.md"
      - ".github/workflows/markdown_lint.yml"
      - ".github/workflows/markdown_link_check_config.json"
  pull_request:
    paths:
      - "**.md"
      - ".github/workflows/markdown_lint.yml"
      - ".github/workflows/markdown_link_check_config.json"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'no'
        use-verbose-mode: 'yes'
        config-file: '.github/workflows/markdown_link_check_config.json'